*.aux
*.glo
*.idx
*.log
*.lox
*.bcf
*.fls
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fdb_latexmk
*.synctex.gz
*.run.xml

MathLog.pdf
